.panel-body {
    /* Height Calculation */
    height: calc(100vh - 125px);
    overflow: auto;
}

.panel-footer {
    text-align: center;
}

#usernameFormGroup {
    padding-top: 2%;
}

#passwordFormGroup {
    padding-top: 2%;
}

#second_row {
    margin-top: 5%;
}

#btn_login {
    margin-top: 2%;
}