<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron">
                <h1>Hi {{ firstname }}!</h1>
                    <p>
                        Thanks for choosing <b>Assignment Organizer</b> as your productivity
                        tool for your assignments. Get started by logging in and viewing the
                        documentation.
                    </p>
                <h2>Here are some of our features...</h2>
            </div>
            <div class="row" style="text-align:center;">
                <div class="col-md-4">
                    <h4>Personal Project Management</h4>
                    <img src="https://lh3.googleusercontent.com/h5kwP4k-L6XTUg2SH3WpIBCLo4gnA4N8bNpt1H2yV5tfcY-EJv-S5zlojZxJFSZkhwn6bZ4-bdMcCF5i6x8sluc0EFXIthslmoM1LDWVsTph6jUnKNb57Y_Km4gHHg3kOOKaOOVE" alt="Personal Development" title="Personal Dev" width="304" height="236">
                </div>
                <div class="col-md-4">
                    <h4>Team Project Management</h4>
                    <img src="https://lh3.googleusercontent.com/thq7qBgzdetR170iouorrDCw09msjuBQufVC2ETMPbYgYeEet_B8iSw-VrKK0xlOZODKa76_EVbAW4ID6pwhBSeT4sKtCPLT1epHjDCwTi2bwngKYrQLfX6FvXm5obBevktE6WLE" alt="Team Development" title="Team Dev" width="304" height="236">
                </div>
                <div class="col-md-4">
                    <h4>Programming Language References</h4>
                    <img src="https://lh3.googleusercontent.com/M9WYmZlvZgHvvwc05WOOZu8I-mugHAYlv909-PcfHE6vZ1I6jlX2W8AqEfewk-y8S-OuiNBpix7HpHL6-FtWovrL8dklrL1jD3sRbnxTKWonb4ZI_Ye1ifMYiDGZlHkgKnFEckmf" alt="Software Tools" title="Software Tools" width="304" height="236">
                </div>
            </div>
            <div class="row" style="text-align: center;">
                <div class="col-md-4">
                    <p>
                        Create personal projects and keep up with the progress
                        that you make on them. Engineer the assignments and
                        modularize accordingly. Upload important files that you
                        need to keep up with. Create e-mail reminders to support
                        your project productivity.
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        Create team projects where other users can join the team
                        and support the overall project development. Engineer the
                        assignments and modularize accordingly. Create e-mail reminders
                        for the team to meet deadlines.
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        Utilize programming language references which are used as
                        cheat sheets to help you along the way. Engineering the
                        assignment is the design aspect, but coding is the actual
                        implementation. Make progress with programming language API
                        references and third-party tools that can help.
                    </p>
                </div>
            </div>
            <div class="well" style="text-align: center;">
                <b>Assignment Organizer | 2017 | Images used from Pixabay</b>
            </div>
        </div>
    </body>
</html>