{% extends 'meta_layout.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block panel_body %}
<div class="row">
    <div class="col-md-2">
        <img src="{{ url_for('static',filename='images/user_placeholder.png') }}">
    </div>
    <div class="col-md-2">
        <h4>Javier Cienfuegos Jr</h4>
        <i>
            "I completed my undergraduate degree at Berea College in Computer Science
            and Mathematics. I love playing music and creating all types of software."
        </i>
    </div>
    <div class="col-md-2">
        <img src="{{ url_for('static',filename='images/user_placeholder.png') }}">
    </div>
    <div class="col-md-2">
        <h4>Daniel Brackin</h4>
        <i>
            "This is where my quote will go explaining what I love to do and where I
            went to school at."
        </i>
    </div>
    <div class="col-md-2">
        <img src="{{ url_for('static',filename='images/user_placeholder.png') }}">
    </div>
    <div class="col-md-2">
        <h4>Mayra Macias</h4>
        <i>
            "This is where my quote will go explaining what I love to do and where I
            went to school at."
        </i>
    </div>
</div>
<div class="row" id="second_row">
    <div class="col-md-4">
        <div class="jumbotron">

        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">

        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">

        </div>
    </div>
</div>
{% endblock %}