<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="{{ url_for('static', filename='js/createAccountValidation.js') }}"></script>
</head>

<script>
    var invalidEmails = [];
    {% for email in invalidEmails %}
        invalidEmails.push('{{ email }}')
    {% endfor %}
</script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('login') }}">Assignment Organizer</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('login') }}">Home</a></li>
      <li><a href="#">Documentation</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <form class="form-inline" action="{{ url_for('login') }}" method="post">

               <div class="form-group" id="usernameFormGroup">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>

                <div class="form-group" id="passwordFormGroup">
                    <input type="password" class="form-control" name="password" placeholder="Password">
               </div>

                <button type="submit" class="btn btn-default btn-sm" id="btn_login">
                    <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </button>

            </form>
        </li>
    </ul>
  </div>
</nav>

<div class="panel panel-default">
  <div class="panel-body">
      <div class="row">
          <div class="col-md-6">
            <div class="jumbotron">
                <h1>Welcome!</h1>
                <p>Get started organizing your tasks and assignments.</p>
                <p>Collaborate with group/organization members to increase project productivity.</p>
                <a data-toggle="modal" data-target="#create_account_modal">Click here to create a new account.</a>
            </div>
          </div>
          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-6">
                      {% if loginFailed %}
                      <div class="well well-sm" id="login_error">
                        Invalid or incorrect credentials. Please try again.
                        <a href="#">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </a>
                        </div>
                      <script>
                      setInterval(function() {
                          $(document).ready(function(){
                                $("#login_error").fadeOut();
                          });
                          }, 7000);
                      </script>
                        {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="panel-footer">
      <div class="row">
          <div class="col-md-3">
              <a href="https://github.com/cienfuegosj/AssignmentOrganizer">GitHub</a>
          </div>
          <div class="col-md-3">
              <a href="{{ url_for('about') }}">About</a>
          </div>
          <div class="col-md-3">
              <a href="#">Contact</a>
          </div>
          <div class="col-md-3">
              <a href="https://github.com/cienfuegosj/AssignmentOrganizer/blob/master/LICENSE">License</a>
          </div>
      </div>
  </div>
</div>

<div id="create_account_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Account</h4>
      </div>
      <div class="modal-body">
          <form id="userinfo_form" action="{{ url_for('create_account') }}" onsubmit="return accountValidation()" name="userinfo_form" class="horizontal-form" method="post">
              <h4>Account Info</h4>
              <div class="form-group" id="fg-email">
                  <input type="text" class="form-control" id="email" placeholder="E-mail">
              </div>
              <div class="form-group" id="fg-pwd">
                  <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Password">
              </div>
              <div class="form-group" id="fg-pwdcheck">
                  <input type="password" class="form-control" name="pwd_check" id="pwd_check" placeholder="Re-enter your password">
              </div>
              <h4>Profile Info</h4>
              <div class="form-group" id="fg-fname">
                  <input type="text" class="form-control" id="first_name" placeholder="First name">
              </div>
              <div class="form-group" id="fg-lname">
                  <input type="text" class="form-control" id="last_name" placeholder="Last name">
              </div>
              <div class="form-group" id="fg-university">
                  <input type="text" class="form-control" id="university" placeholder="University (Optional)">
              </div>

              <label class="radio-inline"><input type="radio" name="optradio">Male</label>
              <label class="radio-inline"><input type="radio" name="optradio">Female</label>
              <label class="radio-inline"><input type="radio" name="optradio">Other</label>

              <br/>
              <br/>
              <button type="submit" class="btn btn-primary btn-block">Create!</button>

          </form>
      </div>
    </div>
  </div>
</div>


</html>